In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
vine_data_to_load = "vine_table.csv"

In [3]:
# Read the Vine Data and store it into a Pandas DataFrame
vine_data_df = pd.read_csv(vine_data_to_load)

In [4]:
vine_data_df.count()

review_id            1785997
star_rating          1785997
helpful_votes        1785997
total_votes          1785997
vine                 1785997
verified_purchase    1785997
dtype: int64

In [5]:
# Import numpy as np.
import numpy as np

In [9]:
# Filter and create a new DataFrame where total_votes count is greater than or equal to 20.
total_votes_df = vine_data_df[(vine_data_df["total_votes"] >= 20)]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [10]:
# Filter and create a new DataFrame (from total_votes_df) where the number of helpful_votes divided by total_votes is
# greater than or equal to 50%.
helpful_votes_df = total_votes_df[(total_votes_df["helpful_votes"] / total_votes_df["total_votes"] >= 0.5)]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [15]:
helpful_votes_df.count()

review_id            40565
star_rating          40565
helpful_votes        40565
total_votes          40565
vine                 40565
verified_purchase    40565
dtype: int64

In [11]:
# Filter and create a new DataFrame (from helpful_votes_df) where a review was written as part of the Vine program.
vine_paid_df = helpful_votes_df[(helpful_votes_df["vine"] == 'Y')]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [12]:
# Filter and create a new DataFrame (from helpful_votes_df) where a review was not written as part of the Vine program.
vine_unpaid_df = helpful_votes_df[(helpful_votes_df["vine"] == 'N')]
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [16]:
vine_paid_df.count()

review_id            94
star_rating          94
helpful_votes        94
total_votes          94
vine                 94
verified_purchase    94
dtype: int64

In [38]:
# Total number of reviews for paid vine program
reviews_paid = vine_paid_df.count()[0]
print(f'Total number of reviews for paid vine program: {reviews_paid}')

Total number of reviews for paid vine program: 94

In [17]:
vine_unpaid_df.count()

review_id            40471
star_rating          40471
helpful_votes        40471
total_votes          40471
vine                 40471
verified_purchase    40471
dtype: int64

In [37]:
# Total number of reviews for unpaid vine program
reviews_unpaid = vine_unpaid_df.count()[0]
print(f'Total number of reviews for unpaid vine program: {reviews_unpaid}')

Total number of reviews for unpaid vine program: 40471

In [34]:
# Total number of 5-star reviews for paid vine program
five_star_paid_count = vine_paid_df[(vine_paid_df["star_rating"] == 5)].count()["star_rating"]
print(f'Total number of 5-star reviews for paid vine program: {five_star_paid_count}')

Total number of 5-star reviews for paid vine program: 48

In [36]:
# Total number of 5-star reviews for unpaid vine program
five_star_unpaid_count = vine_unpaid_df[(vine_unpaid_df["star_rating"] == 5)].count()["star_rating"]
print(f'Total number of 5-star reviews for unpaid vine program: {five_star_unpaid_count}')

Total number of 5-star reviews for unpaid vine program: 15663

In [41]:
# Percentage of 5-star reviews for paid vine program
five_star_paid_percentage = five_star_paid_count / reviews_paid * 100
print(f'Percentage of 5-star reviews for paid vine program: {five_star_paid_percentage}%')

Percentage of 5-star reviews for paid vine program: 51.06382978723404%

In [42]:
# Percentage of 5-star reviews for unpaid vine program
five_star_unpaid_percentage = five_star_unpaid_count / reviews_unpaid * 100
print(f'Percentage of 5-star reviews for unpaid vine program: {five_star_unpaid_percentage}%')

Percentage of 5-star reviews for unpaid vine program: 38.701786464381904%